@model AdvancePhonebook.Models.Descriptions

@{
    ViewData["Title"] = "افزودن توضیحات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h4>@ViewData["Title"]</h4>
</p>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Topic" class="control-label">موضوع</label>
                        <input asp-for="Topic" class="form-control" />
                        <span asp-validation-for="Topic" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="ContactId" class="control-label">مخاطب</label>
                        <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
                        <span asp-validation-for="ContactId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">توضیحات</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <input asp-for="CreatedAt" type="hidden" value="@DateTime.Now" class="form-control" />
                <input asp-for="UpdatedAt" type="hidden" value="@DateTime.Now" class="form-control" />
                <div class="form-group">
                    <input type="submit" value="ذخیره" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}