@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown dropdown-c">
        <a href="#" class="logged-user" data-toggle="dropdown">
            <img src="http://via.placeholder.com/500x500" alt="">
            <span> @User.Identity.Name</span>
            <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <nav class="nav">
                <a asp-area="Identity" asp-page="/Account/Manage/Index"class="nav-link"><i class="icon ion-person"></i> مشاهده پروفایل</a>
                <form class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                    <button type="submit" classclass="nav-link"><i class="icon ion-forward"></i> خروج</button>
                </form>
            </nav>
        </div>
    </div>
}
else
{
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">ثبت نام</a>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">ورود</a>
}